################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.opendb
*.obj
*.lib
